helmCharts:
  # Add ServiceMonitor CRD which is widely used in community charts
  - repo: https://prometheus-community.github.io/helm-charts
    name: prometheus-operator-crds
    version: "24.0.2"
    includeCRDs: true
    namespace: monitor
    releaseName: crds
    valuesInline: {}

  - repo: https://grafana.github.io/helm-charts
    name: grafana
    version: "10.1.4"
    includeCRDs: true
    namespace: monitor
    releaseName: grafana
    valuesFile: values-grafana.yaml

  - repo: https://victoriametrics.github.io/helm-charts/
    name: victoria-metrics-k8s-stack
    version: "0.63.5"
    includeCRDs: true
    namespace: monitor
    releaseName: vms
    valuesFile: values-vms.yaml

resources:
  - ../../base/grafana-dashboards
  - ingress-route.yaml
